.deviceFrame iframe {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.deviceFrame iframe::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
