#framed-site {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  border: none;
}

#framed-site::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

* {
  box-sizing: border-box;
}

/*mvp.css overrides*/
:root {
  --color-link: #0D5B9A;
  --color-text-secondary: #585858;
}
input[type="text"], textarea, select, button {
  width: 100%;
}
